.GameList {

	&__description {
		margin-top: -16px;
		font-size: 13px;
		line-height: 19px;
		overflow: hidden;
	}

	&__description-wrapper {
		padding-bottom: 27px;
	}

	&__list {

	}

	&__item {
		padding-bottom: 20px;
		display: flex;
		justify-content: space-between;

		&:last-child {
			padding-bottom: 0;
		}
	}

	&__item-left {
		display: flex;
		justify-content: center;
	}

	&__item-image-wrapper {
		position: relative;
		width: 54px;
		height: 54px;
	}

	&__item-image {
		width: 54px;
		height: 54px;
		border-radius: 4px;
	}

	&__discount-badge {
		font-size: 10px;
		color: #FFFFFF;
		text-align: center;
		box-sizing: border-box;
		position: absolute;
		top: 4px;
		right: -6px;
		background: #E64646;
		border-radius: 6px;
		font-weight: 700;
		padding: 3px;
	}

	&__item-info {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding-left: 15px;
	}

	&__item-title {

		span {
			font-size: 16px;
			font-weight: 500;
			display: inline-block;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			line-height: 17px;
			padding-bottom: 1px;
			max-width: 325px;
		}
	}

	&__item-description {

		span {
			font-size: 13px;
			color: #656565;
			line-height: 18px;
			display: inline-block;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			max-width: 300px;
		}

	}

	&__item-bottom {
		display: table;
		height: 30px;
		white-space: nowrap;
	}

	&__item-price {
		font-weight: 700;
		font-size: 17px;
		color: #222222;
		display: table-cell;
		white-space: nowrap;
		padding-right: 12px;

		&--discounted {
			font-size: 13px;
			background: #E64646;
			border-radius: 4px;
			padding: 8px 6px 7px 6px;
			color: #FFFFFF;
			font-weight: 700;
			display: inline-block;
			margin-right: 13px;
			position: relative;

			&:before {
				position: absolute;
				content: '';
				display: inline-block;
				top: 9px;
				right: -6px;
				background: url("./img/arrow.svg") no-repeat center center;
				width: 7px;
				height: 14px;
			}
		}

		&--old {
			font-size: 12px;
			color: #939393;
			text-decoration: line-through;
			line-height: 21px;
			display: inline-block;
			margin-right: 8px;
			padding-right: 0;
		}
	}

	&__controls {
		display: table-cell;
		text-align: right;

		button {
			margin: 0;
			padding: 7px 14px;
		}
	}

	&__sharing {
		border-top: 1px solid #E7E8EC;
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 5px;
		margin-top: 24px;
		margin-bottom: -25px;
	}

	&__extend {
		font-size: 13px;
		color: #45678F;
		cursor: pointer;
	}
}
