.CommonInfoList {

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-top: -5px;
		margin-bottom: -20px;
	}

	&__item {
		width: 326px;
		padding-bottom: 20px;

		&:nth-child(odd) {
			padding-right: 25px;
		}
	}

	&__item-title {
		font-weight: 500;
		font-size: 13px;
		color: #222222;
		line-height: 20px;
		padding-bottom: 7px;
	}

	ul {
		list-style-type: decimal;
		padding-left: 19px;
		margin: 0;
	}

	li {
		line-height: 18px;
		padding-bottom: 10px;
		padding-left: 2px;

		&:last-child {
			padding-bottom: 0;
		}
	}
}
